@(clientName: String, date: String)(implicit request: Request[_], authContext: uk.gov.hmrc.play.frontend.auth.AuthContext, messages: Messages)
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._


@atedMain(title = Messages("ated.nonUKReg.confirmation.title", clientName)) {

  <div id="banner" class="transaction-banner--complete">
    <h1 id="confirmation-message">
      @Messages("ated.nonUKReg.confirmation.header", clientName, date)
    </h1>
     </div>

    <h2 id="what-happens-next">@Messages("ated.nonUKReg.confirmation.what-next")</h2>
    <p id="happens-next-message">@Messages("ated.nonUKReg.confirmation.what-next.text")</p>

    @form(action = controllers.nonUKReg.routes.ConfirmationController.continue) {
      <button class="button" id="submit" type="submit">
        @Messages("ated.nonUKReg.confirmation.view-client.button")
      </button>
    }

}