@import play.api.i18n.Messages.Implicits._
@import play.api.Play.current

<div style="border-top: 10px solid #005ea5;"></div>

<details>
  <summary>
    <span id="ated-return-title" class="summary">
      @Messages("ated.agent-startpage-sidebar.ated-return-title")
    </span>
  </summary>

  <div class="panel-indent">
    <p id="ated-return-text">
      @Messages("ated.agent-startpage-sidebar.ated-return-text")
    </p>
  </div>
</details>

<details>
  <summary>
    <span id="relief-declaration-title" class="summary">
      @Messages("ated.agent-startpage-sidebar.relief-declaration-title")
    </span>
  </summary>

  <div class="panel-indent">
    <p id="relief-declaration-text">
      @Messages("ated.agent-startpage-sidebar.relief-declaration-text")
      <a href="https://www.gov.uk/guidance/annual-tax-on-enveloped-dwellings-reliefs-and-exemptions" target="_blank">@Messages("ated.agent-startpage-sidebar.relief-declaration-link")</a>
    </p>
  </div>
</details>

<details>
  <summary>
    <span id="about-return-title" class="summary">
      @Messages("ated.agent-startpage-sidebar.about-return-title")
    </span>
  </summary>

  <div class="panel-indent">
    <p id="about-return-text">
      @Messages("ated.agent-startpage-sidebar.about-return-text")
    </p>
  </div>
</details>

<details>
  <summary>
    <span id="ated1-title" class="summary">
      @Messages("ated.agent-startpage-sidebar.ated-1-title")
    </span>
  </summary>

  <div class="panel-indent">
    <p id="ated1-text">
      @Messages("ated.agent-startpage-sidebar.ated-1-text")
    </p>
  </div>
</details>

<details>
  <summary>
    <span id="64-title" class="summary">
      @Messages("ated.agent-startpage-sidebar.64-title")
    </span>
  </summary>

  <div class="panel-indent">
    <p id="64-text">
      @Messages("ated.agent-startpage-sidebar.64-text")
    </p>
  </div>
</details>
