@(businessName: String, date: String)(implicit request: Request[_], authContext: uk.gov.hmrc.play.frontend.auth.AuthContext, messages: Messages)
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._


@atedMain(title = Messages("ated.business-agent.confirmation.title")) {

  <div id="banner" class="transaction-banner--complete">

    <h1 id="agent-reference">@Messages("ated.business-agent.confirmation.reference", businessName)<br>@Messages("ated.business-agent.confirmation.message", date)</h1>

  </div>


    @form(action = controllers.routes.AgentConfirmationController.continue) {
    <button class="button" id="submit" type="submit">@Messages("ated.business-agent.confirmation.finish")</button>
    }

}
