@(appointAgentForm: Form[models.AppointAgentForm], backLink: Option[String] = None)(implicit request: Request[_], authContext: uk.gov.hmrc.play.frontend.auth.AuthContext, messages: Messages)
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._
@import utils._

@implicitFormInstance = @{ Some(appointAgentForm) }

@pageScripts = {
  <script src='@controllers.routes.AssetsController.at("javascript/show-hide-content.js")'></script>
  <script>
    $(document).ready(function() {
      // Where .multiple-choice uses the data-target attribute
      // to toggle hidden content
      var showHideContent = new GOVUK.ShowHideContent()
      showHideContent.init()
    });
  </script>
}

@atedNoAuthMain(title = Messages("ated.client-startpage-appoint-title"),
                userLoggedIn = true,
                pageScripts = Some(pageScripts)) {

  @pageHeadersAndError(backLink, "client-appoint-subheader", Messages("ated.registration-subheader"), "client-startpage-header", Messages("ated.client-startpage-appoint-header"),
    Some(atedErrorSummary(appointAgentForm, "ated.appoint-agent-error.general")))
  
  @form(action = controllers.routes.SubscriptionController.register) {

    <div class="form-group" id="appointAgent">
      @atedInputRadioGroupReveal(appointAgentForm("appointAgent"),
        Seq("true" -> (Messages("ated.radio.yes.label"), Some("hidden-appointAgent-true")),
            "false" -> (Messages("ated.radio.no.label"), Some("hidden-appointAgent-false"))),
      '_legend -> Messages("ated.client-startpage-appoint-header"),
      '_legendClass -> "visuallyhidden",
      '_groupClass -> "inline",
      '_labelClass -> "block-label",
      '_labelAfter -> true,
      '_trackGA -> true)

      <div id="hidden-appointAgent-true" class="panel-indent js-hidden">
        <ul class="list-bullet">
          <li id="appoint-agent-text1">@Messages("ated.appoint-agent.question.true.info1")</li>
          <li id="appoint-agent-text2">@Messages("ated.appoint-agent.question.true.info2")</li>
          <li id="appoint-agent-text3">@Messages("ated.appoint-agent.question.true.info3")</li>
        </ul>
      </div>

      <div id="hidden-appointAgent-false" class="panel-indent js-hidden">
        <ul class="list-bullet">
          <li id="appoint-agent-text5">@Messages("ated.appoint-agent.question.false.info1")</li>
          <li id="appoint-agent-text6">@Messages("ated.appoint-agent.question.false.info2")</li>
          <li id="appoint-agent-text7">@Messages("ated.appoint-agent.question.false.info3")</li>
        </ul>
      </div>

    </div>

    <button class="button" id="submit" type="submit" onclick="ga('send', 'event', 'Client - registration - start', 'button clicked')">@Messages("ated.client-startpage-register")</button>

  }

}
