@(title: String,
    userLoggedIn: Boolean = false,
    supportLinkEnabled: Boolean = true,
    pageScripts: Option[Html] = None,
    sidebarLinks: Option[Html] = None,
    sidebarClass: Option[String] = None
)(mainContent: Html)(implicit request: Request[_], messages: Messages)

@scriptElement = {
  <script src='@controllers.routes.AssetsController.at("jquery/jquery-1.11.3.min.js")'></script>
  <script src='@controllers.routes.AssetsController.at("javascript/ated.js")'></script>
  @pageScripts
}

@linkElement = {
  <link rel="stylesheet" href='@controllers.routes.AssetsController.at("stylesheets/ated-subscription.css")'/>
  <link rel="stylesheet" href='@controllers.routes.AssetsController.at("jquery/jquery-ui.min.css")'/>
  <link rel="stylesheet" href='@controllers.routes.AssetsController.at("jquery/jquery-ui.structure.min.css")'/>
}


@main(
    applicationConfig = config.ApplicationConfig,
    supportLinkEnabled = supportLinkEnabled,
    title = title,
    sidebarLinks = sidebarLinks,
    sidebarClass = sidebarClass,
    userLoggedIn = userLoggedIn,
    pageScripts = pageScripts,
    linkElement = Some(linkElement)) {
    @mainContent
}