@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._
@import utils.AuthUtils._
@import uk.gov.hmrc.play.frontend.auth.AuthContext
@import models._

@(contactDetailsForm: Form[ContactDetails],
    mode: Option[String],
    backLink: Option[String] = None
)(implicit request: Request[_], authContext: AuthContext, messages: Messages)


@implicitFormInstance = @{ Some(contactDetailsForm) }

@subTitleText = @{
    isAgent match {
        case true => Messages("ated.contact-details.agent.subheader")
        case false => Messages("ated.contact-details.subheader")
    }
}

@ledeText = @{
    isAgent match {
        case true => Messages("ated.contact-details.agent.lede")
        case false => Messages("ated.contact-details.lede")
    }
}

@atedMain(title = Messages("ated.contact-details.title")) {

    @pageHeadersAndError(
        backLink,
        "subtitle", subTitleText,
        "contact-details.header", Messages("ated.contact-details.header"),
        Some(atedErrorSummary(contactDetailsForm, "ated.contact-details-error.general"))
    )

    <p id="text">@ledeText</p>

    @form(action = controllers.routes.ContactDetailsController.submit(mode)) {

        @atedInput(contactDetailsForm("firstName"),
            '_label ->  Messages("ated.contact-details.firstName"),
            '_labelClass -> "form-label-bold",
            '_showConstraints -> false
        )

        @atedInput(contactDetailsForm("lastName"),
            '_label ->  Messages("ated.contact-details.lastName"),
            '_labelClass -> "form-label-bold",
            '_showConstraints -> false
        )

        @atedInput(contactDetailsForm("telephone"),
            '_label ->  Messages("ated.contact-details.telephone"),
            '_labelClass -> "form-label-bold",
            '_showConstraints -> false
        )

        <button id="submit" type="submit">@Messages("ated.contact-details.continue")</button>
    }
}

