@import models._
@import uk.gov.hmrc.play.frontend.auth.AuthContext
@(correspondenceAddressForm: Form[Address], mode: Option[String], isoCodeList: List[(String, String)], backLink: Option[String] = None)(implicit request: Request[_], authContext: AuthContext, messages: Messages)
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._
@import utils.AuthUtils._

@implicitFormInstance = @{ Some(correspondenceAddressForm) }

@pageScripts = {

  <script>
    $(document).ready(function() {
      countryCodeAutoComplete()
    });
  </script>
}

@atedMain(title = if(isAgent) { Messages("ated.correspondence-address.agent.title") } else { Messages("ated.correspondence-address.title") }, pageScripts = Some(pageScripts)) {
  @pageHeadersAndError(backLink, "subtitle", if(isAgent) {Messages("ated.correspondence-address.agent.subheader")} else {Messages("ated.correspondence-address.subheader")},
  "correspondence-address-header", if(isAgent) {Messages("ated.correspondence-address.agent.header")} else {Messages("ated.correspondence-address.header")},
    Some(atedErrorSummary(correspondenceAddressForm, "ated.correspondence-address-error.general")))

  <div class="form-group">
    <p id="correspondence-address-lede">
    @if(isAgent) {
      @Messages("ated.correspondence-address.agent.lede")
    } else {
      @Messages("ated.correspondence-address.lede")
    }
    </p>
  </div>

  @form(action = controllers.routes.CorrespondenceAddressController.submit(mode)) {

      <fieldset id="correspondence-address-form">
        <legend class="visuallyhidden">
          @if(isAgent) {
          @Messages("ated.correspondence-address.agent.header")
          } else {
          @Messages("ated.correspondence-address.header")
          }
        </legend>

        @atedInput(correspondenceAddressForm("line_1"),
        '_label ->  Html(Messages("ated.address.line-1")),
          '_labelClass -> "form-label-bold",
        '_showConstraints -> false)

        @atedInput(correspondenceAddressForm("line_2"),
        '_label ->  Html(Messages("ated.address.line-2")),
        '_labelClass ->  "form-label-bold",
        '_showConstraints -> false)

        @atedInput(correspondenceAddressForm("line_3"),
        '_label ->  Html(Messages("ated.address.line-3")),
        '_labelClass ->  "form-label-bold",
        '_showConstraints -> false)

        @atedInput(correspondenceAddressForm("line_4"),
        '_label ->  Html(Messages("ated.address.line-4")),
        '_labelClass ->  "form-label-bold",
        '_showConstraints -> false)

        @atedInput(correspondenceAddressForm("postcode"),
        '_label ->  Html(Messages("ated.address.postcode")),
        '_size ->  "10",
        '_inputClass -> "field-1-4",
        '_showConstraints -> false)

        @atedDropdown(correspondenceAddressForm("country"),
        elementOptions = isoCodeList,
        displayEmptyValue = true,
        '_emptyValueText -> Messages("ated.address.country.select"),
        '_label -> Html(Messages("ated.address.country")),
        '_labelClass -> ("form-label-bold"))

      </fieldset>


      <button class="button" id="submit" type="submit">@Messages("ated.correspondence-address.continue")</button>

  }
}
