@import models._
@import uk.gov.hmrc.play.frontend.auth.AuthContext
@(businessAddressForm: Form[BusinessAddress], businessAddress: Address, backLink: Option[String] = None)(implicit request: Request[_], authContext: AuthContext, messages: Messages)
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._
@import utils._
@import utils.AuthUtils._
@import controllers.auth._

@implicitFormInstance = @{ Some(businessAddressForm) }

@header = @{if(isAgent) {Messages("ated.registered-business-address.agent.header")} else {Messages("ated.registered-business-address.header")}}

@atedMain(title = if(isAgent) { Messages("ated.registered-business-address.agent.title") } else { Messages("ated.registered-business-address.title") }) {
  @pageHeadersAndError(backLink, "business-registered-text", if(isAgent) {Messages("ated.registered-business-address.agent.sub-header")} else {Messages("ated.registered-business-address.sub-header")},
    "registered-business-address-header", header,
    Some(atedErrorSummary(businessAddressForm, "ated.business-address-error.general")))

  @if(isAgent) {

      <p id="lede-agent-text">@Messages("ated.registered-business-address.agent.lede-text") </p>

  }

  <p id="businessAddress" class="margin-bottom-default">
    @businessAddress.line_1 <br>
    @businessAddress.line_2 <br>
    @businessAddress.line_3.map {line_3 =>
      @line_3 <br>
    }
    @businessAddress.line_4.map {line_4 =>
      @line_4 <br>
    }
    @businessAddress.postcode.map {postcode =>
      @postcode <br>
    }
    @AtedSubscriptionUtils.getSelectedCountry(businessAddress.country)
  </p>

  @form(action = controllers.routes.RegisteredBusinessController.continue) {

    <div id="isCorrespondenceAddress">

      @atedInputRadioGroupNew(
      businessAddressForm("isCorrespondenceAddress"),
      Seq("true" -> Messages("ated.registered-business-address.correspondence-address.yes"),
      "false" -> Messages("ated.registered-business-address.correspondence-address.no")),
      '_groupClass -> "form-group form-group-compound inline",
      '_labelClass -> "block-label",
      '_legend -> header,
      '_legendClass -> "visuallyhidden",
      '_labelAfter -> true,
      '_trackGA -> true
      )

    </div>

    <button class="button" id="submit" type="submit">@Messages("ated.registered-business-address.continue")</button>

  }

}
