@(date: String)(implicit request: Request[_], authContext: uk.gov.hmrc.play.frontend.auth.AuthContext, messages: Messages)
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._

@atedMain(title = Messages("ated.registered-user.title"), userLoggedIn = true) {

  <div id="banner" class="transaction-banner--complete">

    <h1 id="header">
      @Messages("ated.registered-user.confirmation.message", date)
    </h1>

  </div>

  <div class="form-group">

      <p id="happens-next">
        @Messages("ated.registered-user.confirmation.you-can")
      </p>


    <ul class="list list-bullet">
      <li id="instruction-1">@Messages("ated.registered-user.confirmation.instruction1")</li>
      <li id="instruction-2">@Messages("ated.registered-user.confirmation.instruction2")</li>
    </ul>

  </div>

    @form(action = controllers.routes.RegisterUserController.redirectToAted) {
      <button class="button" id="submit" type="submit">@Messages("ated.continue")</button>
    }

}
