@import models._
@import uk.gov.hmrc.play.frontend.auth.AuthContext
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._
@import utils._
@import utils.AuthUtils._
@import controllers.auth.ExternalUrls

@(businessDetails: ReviewDetails,
  correspondenceAddress: Address,
  contactDetails: ContactDetails,
  contactDetailsEmail: Option[ContactDetailsEmail],
  emailAddress: Option[AgentEmail],
  clientDisplayName: Option[ClientDisplayName],
  backLink: Option[String])(implicit request: Request[_], authContext: AuthContext, messages: Messages)

@title = @{
  isAgent match {
    case true => Messages("ated.review-details.agent.title")
    case false => Messages("ated.review-details.title")
  }
}

@subtitle = @{
  isAgent match {
    case true => Messages("ated.review-details.agent.subheader")
    case false => Messages("ated.review-details.subheader")
  }
}

@header = @{
  isAgent match {
    case true => Messages("ated.review-details.agent.header")
    case false => Messages("ated.review-details.header")
  }
}

@email = @{
  (contactDetailsEmail.isDefined, contactDetailsEmail.get.emailConsent) match {
    case (true, Some(true)) => contactDetailsEmail.get.email
    case (_, _) => Messages("ated.review-details.contact-preference-not-provided")
  }
}

@buttonText = @{
  isAgent match {
    case true => Messages("ated.confirm-and-continue")
    case false => Messages("ated.confirm-and-register")
  }
}

@atedMain(title = title) {
  @pageHeadersAndError(
    backLink,
    "subtitle", subtitle,
    "review-business-details-header", header
  )

  <div class="form-group">
    <div class="grid-wrapper row-border">
      <div class="grid grid-2-6 cya-question">
        <span id="service-name-label" class="heading-small">@Messages("ated.review-details.service")</span>
      </div>

      <div class="grid grid-1-2 cya-answer">
        <span id="service-name">@Messages("ated.review-details.service.ated")</span>
      </div>
    </div>

    <div class="grid-wrapper row-border">
      <div class="grid grid-2-6 cya-question">
        <span id="business-name-label" class="heading-small">@Messages("ated.review-details.business")</span>
      </div>

      <div class="grid grid-1-2 cya-answer">
        <span id="business-name">@businessDetails.businessName</span>
      </div>

      @if(businessDetails.isBusinessDetailsEditable){
        <div class="grid grid-1-6 cya-change">
          <a href='@ExternalUrls.businessNameAndAddressEditUrl' id="business-name-edit">@Messages("ated.review-details.edit")
            <span class="visuallyhidden">@Messages("ated.review-details.business")</span>
          </a>
        </div>
      }
    </div>

    @if(businessDetails.isBusinessDetailsEditable){
      <div class="grid-wrapper row-border">
        <div class="grid grid-2-6 cya-question">
          <span id="business-address-label" class="heading-small">@Messages("ated.review-details.registered-address")</span>
        </div>

        <div id="registered-address" class="grid grid-1-2 cya-answer">
            @businessDetails.businessAddress.line_1<br>
            @businessDetails.businessAddress.line_2<br>
            @businessDetails.businessAddress.line_3.map {line_3 => @line_3<br> }
            @businessDetails.businessAddress.line_4.map {line_4 => @line_4<br> }
            @businessDetails.businessAddress.postcode.map {postcode => @postcode<br> }
            @AtedSubscriptionUtils.getSelectedCountry(businessDetails.businessAddress.country)<br>
        </div>

        <div class="grid grid-1-6 cya-change">
          <a href='@ExternalUrls.businessNameAndAddressEditUrl' id="register-address-edit">
            @Messages("ated.review-details.edit")
            <span class="visuallyhidden">@Messages("ated.review-details.registered-address")</span>
          </a>
        </div>
      </div>

      <div class="grid-wrapper row-border">
        <div class="grid grid-2-6 cya-question">
          <span id="overseas-tax-reference-label" class="heading-small">@Messages("ated.review-details.overseas-tax-reference")</span>
        </div>
        <div class="grid grid-1-2 cya-answer">
          @if(businessDetails.identification.isEmpty) {
            <div id="overseas-not-provided">@Messages("ated.review-details.contact-preference-not-provided")</div>
          } else {
            @businessDetails.identification.map { identification =>
              <div id="overseas-id-number">@identification.idNumber</div>

            }
          }
        </div>

        <div class="grid grid-1-6 cya-change">
          <a href='@ExternalUrls.overseasTaxReferenceEditUrl' id="overseas-tax-reference-edit">
            @Messages("ated.review-details.edit")
            <span class="visuallyhidden">@Messages("ated.review-details.overseas-tax-reference")</span>
          </a>
        </div>
      </div>
      @if(!businessDetails.identification.isEmpty) {
        <div class="grid-wrapper row-border">
          <div class="grid grid-2-6 cya-question">
            <span id="overseas-issuing-country-label" class="heading-small">@Messages("ated.review-details.issuing-country")</span>
          </div>
          <div class="grid grid-1-2 cya-answer">
            @businessDetails.identification.map { identification =>
              <div id="overseas-issuingCountryCode">@AtedSubscriptionUtils.getSelectedCountry(identification.issuingCountryCode)</div>
            }
          </div>

          <div class="grid grid-1-6 cya-change">
            <a href='@ExternalUrls.overseasTaxReferenceEditUrl' id="overseas-issuing-country-edit">
              @Messages("ated.review-details.edit")
              <span class="visuallyhidden">@Messages("ated.review-details.issuing-country")</span>
            </a>
          </div>
        </div>

        <div class="grid-wrapper row-border">
          <div class="grid grid-2-6 cya-question">
            <span id="overseas-issuing-institution-label" class="heading-small">@Messages("ated.review-details.issuing-institution")</span>
          </div>
          <div class="grid grid-1-2 cya-answer">
            @businessDetails.identification.map { identification =>
              <div id="overseas-issuingInstitution">@identification.issuingInstitution</div>
            }
          </div>

          <div class="grid grid-1-6 cya-change">
            <a href='@ExternalUrls.overseasTaxReferenceEditUrl' id="overseas-issuing-institution-edit">
              @Messages("ated.review-details.edit")
              <span class="visuallyhidden">@Messages("ated.review-details.issuing-institution")</span>
            </a>
          </div>
        </div>
      }

    } else {

      <div class="grid-wrapper row-border">
        <div class="grid grid-2-6 cya-question">
          <span id="business-address-label" class="heading-small">@Messages("ated.review-details.registered-address")</span>
        </div>

        <div id="business-address" class="grid grid-1-2 cya-answer">
          @businessDetails.businessAddress.line_1<br>
          @businessDetails.businessAddress.line_2<br>
          @businessDetails.businessAddress.line_3.map {line_3 => @line_3<br> }
          @businessDetails.businessAddress.line_4.map {line_4 => @line_4<br> }
          @businessDetails.businessAddress.postcode.map {postcode => @postcode<br> }
          @AtedSubscriptionUtils.getSelectedCountry(businessDetails.businessAddress.country)<br>
        </div>
      </div>

    }

    <div class="grid-wrapper row-border">
      <div class="grid grid-2-6 cya-question">
        <span id="correspondence-address-label" class="heading-small">@Messages("ated.review-details.correspondence-address")</span>
      </div>

      <div id="correspondence-address" class="grid grid-1-2 cya-answer">
        @correspondenceAddress.line_1<br>
        @correspondenceAddress.line_2<br>
        @correspondenceAddress.line_3.map {line_3 => @line_3<br> }
        @correspondenceAddress.line_4.map { line_4 => @line_4<br> }
        @correspondenceAddress.postcode.map {postcode => @postcode<br> }
        @AtedSubscriptionUtils.getSelectedCountry(correspondenceAddress.country)<br>
      </div>

      <div class="grid grid-1-6 cya-change">
        <a href="@controllers.routes.CorrespondenceAddressController.editAddress(Some("edit"))"
            id="correspondence-edit"
            data-journey-click="ated-subscription:click:correspondence-edit">
          @Messages("ated.review-details.edit")
          <span class="visuallyhidden">@Messages("ated.review-details.correspondence-address")</span>
        </a>
      </div>
    </div>

    <div class="grid-wrapper row-border">
      <div class="grid grid-2-6 cya-question">
        <span id="contact-details-label" class="heading-small">@Messages("ated.review-details.contact-details")</span>
      </div>

      <div id="contact-details" class="grid grid-1-2 cya-answer">
        <div id="name">@contactDetails.firstName @contactDetails.lastName</div>
        <div id="telephone">@contactDetails.telephone</div>
      </div>

      <div class="grid grid-1-6 cya-change">
        <a href="@controllers.routes.ContactDetailsController.editDetails(Some("edit"))"
            id="contact-edit"
            data-journey-click="ated-subscription:click:contact-edit">
          @Messages("ated.review-details.edit")
          <span class="visuallyhidden">@Messages("ated.review-details.contact-details")</span>
        </a>
      </div>
    </div>

    <div class="grid-wrapper row-border">
      <div class="grid grid-2-6 cya-question">
        <span id="contact-pref-label" class="heading-small">@Messages("ated.review-details.contact-preference")</span>
      </div>

      <div id="contact-pref" class="grid grid-1-2 cya-answer">
        @email
      </div>

      <div class="grid grid-1-6 cya-change">
        <a href="@controllers.routes.ContactDetailsEmailController.editDetailsEmail"
            id="contact-pref-edit"
            data-journey-click="ated-subscription:click:contact-pref-edit">
          @Messages("ated.review-details.edit")
          <span class="visuallyhidden">@Messages("ated.review-details.contact-preference")</span>
        </a>
      </div>
    </div>

    @if(clientDisplayName.isDefined) {
      <div class="grid-wrapper row-border">
        <div class="grid grid-2-6 cya-question">
          <span id="client-display-name-label" class="heading-small">@Messages("ated.review-details.display-name")</span>
        </div>

        <div id="client-display-name" class="grid grid-1-2 cya-answer">
          @clientDisplayName.get.name
        </div>

        <div class="grid grid-1-6 cya-change">
          <a href="@ExternalUrls.clientDisplayNameEditPath"
              id="client-display-name-edit"
              data-journey-click="ated-subscription:click:client-display-name-edit">
            @Messages("ated.review-details.edit")
            <span class="visuallyhidden">@Messages("ated.review-details.display-name")</span>
          </a>
        </div>
      </div>
    }

    @if(emailAddress.isDefined) {
      <div class="grid-wrapper row-border">
        <div class="grid grid-2-6 cya-question">
          <span id="email-address-label" class="heading-small">@Messages("ated.review-details.email-address")</span>
        </div>

        <div id="email-address" class="grid grid-1-2 cya-answer">
          @emailAddress.get.email
        </div>

        <div class="grid grid-1-6 cya-change">
          <a href="@ExternalUrls.agentEmailEditPath"
              id="agent-email-address-edit"
              data-journey-click="ated-subscription:click:agent-email-address-edit">
            @Messages("ated.review-details.edit")
            <span class="visuallyhidden">@Messages("ated.review-details.email-address")</span>
          </a>
        </div>
      </div>
    }
  </div>

  <a href="@controllers.routes.RegisterUserController.registerUser.url"
      class="button"
      id="submit"
      onclick="ga('send', 'event', 'Client - registration - end', 'button clicked')">
    @buttonText
  </a>

}
