@(areYouAnAgentForm: Form[models.AreYouAnAgent])(implicit request: Request[_], authContext: uk.gov.hmrc.play.frontend.auth.AuthContext, messages: Messages)
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._
@import utils._
@import controllers.auth._

@implicitFormInstance = @{ Some(areYouAnAgentForm) }

@pageScripts = {
  <script src='@controllers.routes.AssetsController.at("javascript/subscription.js")'></script>
  <script>
    $(document).ready(function() {
      showHideIsAnAgentSection();
    });
  </script>
}

@atedNoAuthMain(title = Messages("ated.client-startpage-title"), userLoggedIn = true, pageScripts = Some(pageScripts)) {

  @pageHeadersAndError(None, "client-startpage-subheader", Messages("ated.registration-subheader"), "client-startpage-header", Messages("ated.client-startpage-header"),
Some(atedErrorSummary(areYouAnAgentForm, "ated.are-you-an-agent-error.general")))

  @form(action = controllers.routes.SubscriptionController.continue) {

    <div class="form-group" id="isAgent">
      @atedInputRadioGroupNew(areYouAnAgentForm("isAgent"),
      Seq("true" -> Messages("ated.radio.yes.label"),
      "false" -> Messages("ated.radio.no.label")),
      '_legend -> Messages("ated.client-startpage-header"),
      '_legendClass -> "visuallyhidden",
      '_groupClass -> "inline",
      '_labelClass -> "block-label",
      '_labelAfter -> true,
      '_trackGA -> true)
    </div>

    <div class="panel-indent" id="hidden-isAnAgent">
      <p>@Html(Messages("ated.claim-relief.agent-claiming-true.info", ExternalUrls.signIn))</p>
    </div>

    <button class="button" id="submit" type="submit" onclick="ga('send', 'event', 'Client - registration - start', 'button clicked')">@Messages("ated.client-startpage-continue")</button>
  }

}
